<!doctype html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='choices.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <title>yt-dlp frontend</title>
  <script src="{{ url_for('static', filename='choices.min.js') }}"></script>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      new Choices(document.querySelector('#{{ context.dir_field_name }}'), {
      });
    })
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <form name="ytdlp" action="{{ url_for("task.submit_post") }}" method="post">
    <fieldset>
      <legend>
        <h2>yt-dlp frontend</h1>
      </legend>
      <div class="inputsContainer">
        <div></div>
        <div class="inputs">
          <label class="inputRow">
            <div class="item">url</div>
            <input class="textinput" name="{{ context.url_field_name }}" id="{{ context.url_field_name }}">
          </label>
          </label>
          <label class="inputRow">
            <div class="item">directory</div>
            <select class="{{ context.dir_field_name }}" name="{{ context.dir_field_name }}"
              id="{{ context.dir_field_name }}" list="dirs">
              {% for dir in context.lsdir %}
              <option value="{{ dir }}">{{ dir }}</option>
              {% endfor %}
            </select>
          </label>
        </div>
        <div></div>
        <div></div>
        <div class="submit">
          <input type="submit" value="submit">
        </div>
        <div></div>
      </div>
    </fieldset>
  </form>
  <div id="stdout" class="stdout" style="display: none;">
  </div>

  <script>
    const taskForm = (formName, doPoll, report) => {
      document.forms[formName].addEventListener("submit", (event) => {
        event.preventDefault()
        fetch(event.target.action, {
          method: "POST",
          body: new FormData(event.target)
        })
          .then(response => response.json())
          .then(data => {
            report(null)

            const poll = () => {
              fetch(`/task/result/${data["result_id"]}`)
                .then(response => response.json())
                .then(data => {
                  report(data)

                  if (!data["ready"]) {
                    setTimeout(poll, 30)
                  } else if (!data["successful"]) {
                    console.error(formName, data)
                  } else if (data["ready"]) {
                    const el = document.getElementById("stdout")
                    el.innerHTML += "---------DONE---------"
                  }
                })
            }

            if (doPoll) {
              poll()
            }
          })
      })
    }

    taskForm("ytdlp", true, data => {
      const el = document.getElementById("stdout")
      el.style.display = "flex"

      if (data !== null && data["value"] !== null && data["value"]["message"] !== null) {
        el.innerText = data["value"]["message"].join('')
      } else {
        el.innerHTML = ''
      }
    })
  </script>
</body>

</html>